{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <title>Login</title>
</head>
<body class="bg-slate-600">
    <div class="md-size:auto bg-slate-200 text-center ml-60 mr-40 rounded">
        <h1 class=" mt-10 font-bold text-lg text-center">Login Form</h1>
        <form action="{% url 'lg'%}" method="POST">
            {% csrf_token %}
            <label1 class="mt-5 font-bold" name="uname" id="uname">Username</lable1>
                <input class="border border-black mt-5" type="text" id="luname" name="luname">
                <br>
            <label2 class="mt-5" name="password" id="password">Password</lable2>
                <input class="border border-black mt-5" type="password" required id="lpassword" name="lpwd"><br>
            <button class="w-20 border border-black ml-10 mb-10 mt-5 bg-slate-500 rounded" name="login" id="login" type="submit" >Login</button>
        </form>
    </div>
</body>
</html>