{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <title>MyInvest App</title>
</head>
<body class="bg-slate-900">
    <div class="bg-black text-black p-4 flex justify-between items-center">
        <div class="font-bold text-white text-left">Ansu Invest</div>
        <nav class="flex gap-5 mr-16 mt-.5 ">
            <a href="#" class="text-white text-sm text-right">Home</a>
            <a href="#" class="text-white text-sm text-right">Company</a>
            <a href="#" class="text-white text-sm text-right">Research</a>
            <a href="#" class="text-white text-sm text-right">Valuation</a>
            <a href="#" class="text-white text-sm text-right">Financial</a>
            <a href="#" class="text-white text-sm text-right">Markets</a>
            <a href="#" class="text-white text-sm text-right">Marketpedia</a>
            <a href="{% url 'userLogout' %}" class="border border-white py-1 px-2 rounded text-white text-sm text-right">Log Out</a>
        </nav>
    </div>
    <div class="h-full">
        <div class="border-b-2 block md:flex">
            <div class="w-full md:w-2/5 p-4 sm:p-6 lg:p-8 bg-white shadow-md">
                <div class="flex justify-between">
                    <span class="text-xl font-semibold block">Profile</span>
                </div>
                {%if user.img%}
                    <div class="w-full p-8 mx-2 flex justify-center">
                        <img id="showImage" class="w-50 items-center border" src="{{user.img.url}}" alt="Default Image">
                    </div>
                {%else%}
                <div class="w-full p-8 mx-2 flex justify-center">
                    <img id="showImage" class="w-50 items-center border" src="{%static "image/avatar.png" %}" alt="NO Image">
                </div>
                {%endif%}

            </div>
            <div class="w-full md:w-3/5 p-8 bg-white lg:ml-4 shadow-md">
                <div class="rounded shadow p-6">
                    <form action="{% url 'profileEdit' user.pk %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="pb-6">
                            <label for="name" class="font-semibold text-gray-700 block pb-1">Name</label>
                            <div class="flex">
                                <input id="username" name="uname" class="border-1 rounded-r px-4 py-2 w-full" type="text" value="{{ user.uname }}" />
                            </div>
                        </div>
                        <div class="pb-6">
                            <label for="password" class="font-semibold text-gray-700 block pb-1">Password</label>
                            <div class="flex">
                                <input id="password" name="pwd" class="border-1 rounded-r px-4 py-2 w-full" type="text" value="{{ user.pwd }}" />
                            </div>
                        </div>
                        <div class="pb-4">
                            <label for="about" class="font-semibold text-gray-700 block pb-1">Email</label>
                            <input id="email" name="umail" class="border-1 rounded-r px-4 py-2 w-full" type="email" value="{{ user.umail }}" />
                            <span class="text-gray-600 pt-4 block opacity-70">P</span>
                        </div>
                        <div class="w-full p-8 mx-2 flex justify-center">
                            <input type="file" required name="img" class="form-control">                     
                        </div>

                        <button type="submit" class="border border-black text-center w-20 rounded text-black hover:bg-blue-500 font-bold">Save</button>
                    </form>
                    <form action="{% url 'profileDelete' user.pk %}" method="post" class="mt-4">
                        {% csrf_token %}
                        <button type="submit" class="border border-black text-center w-20 rounded text-red-500 hover:bg-black font-bold ">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
